@import '/src/styles/variables';

:host {
    position: absolute;
    right: 0;
    bottom: 0%;
    max-width: 33%;
    margin: 2rem;
    height: $modal-tab-height;
    border-radius: 0.5rem;
    border-right: none;
    z-index: 10;
}

.modal-tab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-overflow: ellipsis;
    height: 100%;
    border-bottom: none;
    background-color: rgba($color-midnight, 0.75);
    padding: 2rem;
    
    &__description {
        color: $color-white;
        font-size: 2.4rem;
        font-weight: 200;
        text-align: center;
    }

    &__title {
        margin: none;
    }

    &__tab-list {
        position: relative;
        z-index: 10;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border-radius: 1.2rem;
        background-color: rgba($color-midnight, 0.2);
    }

    &__tab-item {
        height: 100%;
        margin: 1rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    &__button {
        width: 4rem;
        height: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}