@import '../../../styles/variables';

:host {
    width: 32rem;
    height: $header-height;
    right: 0;
}

.weather {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: $box-padding-small;
    text-shadow: $text-shadow;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-color: rgba(26, 24, 24, 0.82);
    color: $color-white;

    &__left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__right {
        display: flex;
    }

    &__icon {
        height: 6.5rem;
        width: 6.5rem;
    }

    &__extremes {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 1.6rem;
        font-weight: 500;

        &--high {
            color: red;
        }

        &--low {
            color: $color-white;
        }
    }

    &__current {
        font-size: 1.2rem;
        font-weight: 500;
    }

    &__current-temp {
        font-size: 2.4rem;
        font-weight: 500;
    }
}