<div class="modal" *ngIf="(isModalOpen$ | async)" @ngIfSlideInBottom>
    <header class="modal__modal-header">
        <h4 class="modal__title"></h4>
        <button class="modal__close" (click)="close()">
            <i class="material-icons modal__icon"></i>
        </button>
    </header>
    <modal-tab ></modal-tab>
    <div class="modal__component">
        <!-- <ng-template modal></ng-template> -->
        <router-outlet></router-outlet>
    </div>
</div>
<div class="modal__overlay" *ngIf="(isModalOpen$ | async)" @ngIfFadeIn></div>