<div class="news">
    <div class="news__carousel">
        <ng-container class="news__carousel--container" *ngIf="(bannerArticle$ | async) as bannerConfig">
            <img class="news__carousel--image" *ngIf="bannerConfig.imageUrl" [src]="bannerConfig.imageUrl">
            <div class="news__carousel--placeholder" *ngIf="!bannerConfig.imageUrl">
                <h1 class="news__carousel--failed">Failed to load image...</h1>
            </div>
            <div class="news__carousel--text">
                <button class="news__carousel--left" (click)="back()">
                    <i class="material-icons">arrow_back</i>
                </button>
                <button class="news__carousel--right" (click)="forward()">
                    <i class="material-icons">arrow_forward</i>
                </button>
                <h1 class="news__carousel--title">{{ bannerConfig.article.title }}</h1>
                <h2 class="news__carousel--desc">{{ bannerConfig.article.description }}</h2>
                <p class="news__carousel--content">{{ bannerConfig.article.content }}</p>
            </div>
        </ng-container>
    </div>
    <div class="news__inner">
        <ul class="news__inner--categories">
            <li class="news__inner--categories-item">
                
            </li>
        </ul>
        <div class="news__inner--main">
            <div class="news__inner--options">
                <button class="news__inner--filter"><i class="material-icons">filter</i></button>
                <button class="news__inner--number"><i class="material-icons">loupe</i></button>
            </div>
            <div class="news__inner--categorized">
                <news-categorized [articlesByCategory]="articlesByCategory$ | async"></news-categorized>
            </div>
        </div>
    </div>
</div>