.app {
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}