@import '/src/styles/variables';

:host {
    min-width: 40%;
    margin-right: 2rem;
}

.full-weather-hourly {
    width: 100%;
    max-height: 100%;
    overflow: scroll;

    &__list {
        width: 100%;
        height: 100%;
        list-style: none;
    }

    &__item {
        height: 10rem;
        margin: 1rem 0;
        box-shadow: $box-shadow-light;
        background-color: $color-midnight;
        color: $color-white;
        border-radius: 0.5rem;
        padding: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.6rem;

        &--left, &--right, &--middle {
            max-width: 33;
        }

        &--right {
            display: flex;
            width: 50%;
            justify-content: flex-end;
        }
    }

    &__indication {
        font-size: 3.6rem;
        font-weight: 200;
        letter-spacing: 0.2rem;
        margin: auto 0;
    }

    &__icon {
        margin: 0.5rem;
    }

    &__hourly {
        font-size: 3.6rem;
        width: 5rem;
        font-weight: 200;
        margin: auto 0;
    }
}